<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--Change The Parallel attribute for parallel Execution-->
<suite name="Suite" parallel="false">
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <classes>            
            <class name="HomePageChecker.HomePage" />     
            <class name="HomePageChecker.SchoolOfDragonsPage" />  
            <class name="HomePageChecker.SchoolOfDragonsLoginPage" />    
            <class name="HomePageChecker.SchoolOfDragonsSignUpPage" />                        
        </classes>
    </test>
</suite>
